VITE_SUPABASE_URL=https://xnjugeewwjclgsaynthi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhuanVnZWV3d2pjbGdzYXludGhpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQwOTQ5ODAsImV4cCI6MjA1OTY3MDk4MH0.yLXgsftyngR_PDK6pwHQkuyXMj322zu3SULCSe0CE0c
VITE_WEBSITE_URL=http://127.0.0.1:4174
VITE_SOUNDCRAFT_API_URL=http://127.0.0.1:8000
VITE_MIDICRAFT_API_URL=http://127.0.0.1:8001
VITE_VSTCRAFT_API_URL=http://127.0.0.1:8002
